body {
    background-color: lightgray;
    padding: 5%;
    padding-top: 1em;
}

#model_carousel {
    display: flex;
    width: 90vw;
    justify-content: space-around;
}

.model {
    border: black 2px solid;
    border-radius: 20px;
    width: 5cm;
    height: 2cm;
    text-align: center;
    padding: 2mm;
    margin-right: 1em;
    background: blueviolet;
    font-size: 30px;
    font-weight: 600;
    color: white;
}