<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wasteful Fellas</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>
            Wasteful Fellas
        </h1>
        <h2>
            Model interface
        </h2>
        <h3>
            Models:
        </h3>
        <div id="model_carousel" />
        
        <script>
            model_carousel = document.getElementById("model_carousel");
            names = ["Voll", "Name1", "Name2", "Name3", "Name4", "Name5"]
            for(i = 0;i < 6; i++)
            {
                model_carousel.innerHTML += "<div class='model'>" + names[i] + "<div/>";
            }   
        </script>
    </body>
</html>